.signup_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.signup_form_container {

	width: 800px;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.right {
	background-image: url("https://media.istockphoto.com/photos/customer-picture-id1255236227?k=20&m=1255236227&s=612x612&w=0&h=0c635yDNm_dTVo_LMab3wTAUeybYXDNXRS5CrRJD5Tc=");
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

::placeholder {
	color: white;
}

.input {
	/* color: white; */
	font-weight: bolder;
	outline: none;
	background: rgb(0 0 0 / 12%);
	border: none;
	outline: none;
	border: none;
	width: 600px;
	padding: 15px;
	margin: 10px 0;
	font-size: 14px;
	border-radius: 10px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: #a2d2ff;
	color: black;
	margin: 10px;
}